/* Fallback styling */
audio::-webkit-media-controls-enclosure {
  margin-bottom: -1.75rem;
  width: 80%;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

*:focus{
  outline: none;
}
html {
  background: #f2f2f2;
}
body {
  margin: 0;
  font-family: "Montserrat",sans-serif;
}
.music-player a {
  text-decoration: none;
  color: inherit;
}
.music-player a:hover {
  color: #ccc;
}
.music-player a:active {
  color: #999;
}
.music-player h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  padding: 0 10%;
}
.music-player h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #ccc;
  padding: 0 10%;
}
.container {
  text-align: center;
  display: block;
  width: 100%;
  margin: auto;
  background-image: url("../img/Blue-Background.svg");
  background-repeat: repeat;
  background-size: cover;
}
.music-player {
  text-align: left;
  display: inline-block;
  position: relative;
  max-width: 88%;
  width: 25rem;
  /*height: 570px;*/
  height: 13.75rem;
  margin: 2% 6%;
  border-radius: 0 0 10px 10px;
  background: transparent linear-gradient(to bottom,rgba(20,25,35,0.9) 50%,rgb(20,25,35) 70%) repeat scroll 0 0;
  box-shadow: 0px 2px 6px #222;
  overflow: hidden;
}
/* .cover {
  float: left;
  width: 100%;
  height: 66%;
} */
.cover img {
  display: block;
  position: absolute;
  top: 8%;
  left: 14%;
  width: 70%;
  margin: auto;
  text-align: center;
}
.mejs__button>button:focus {
  outline: 0px dotted #999;
}
.mejs__container {
  position: relative;
  background-color: transparent;
  min-width: auto !important;
}
.mejs__controls {
  padding: 0 10%;
  background: transparent !important;
  display: block;
  position: relative;
}
.mejs__controls div {
  display: block;
  float: left;
  position: relative;
}
.mejs__controls .mejs__playpause-button {
  position: absolute !important;
  left: 8%;
  /* bottom: 95%; */
  top: 70px;
  width: 40px;
}
/* .mejs__controls .mejs__playpause-button button {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  font-family: FontAwesome;
  font-size: 23px;
  color: rgba(0,126,152,1);
  background: transparent;
  padding: 0;
  margin: 0;
}
.mejs__controls .mejs__play button:before{
  content:"\f04b";
}
.mejs__controls .mejs__pause button:before{
  content:"\f04c";
}
.mejs__controls .mejs__volume-button button {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  font-family: FontAwesome;
  font-size: 20px;
  color: rgba(0,126,152,1);
  background: transparent;
  margin: 0;
  padding: 0;
}
.mejs__controls .mejs__mute button:before {
  content: "\f028";
}
.mejs__controls .mejs__unmute button:before {
  content: "\f026";
} */
.mejs__controls .mejs__time {
  width: 100%;
  margin-top: 7%;
  margin-bottom: 3%;
  color: #fff;
  height: auto;
  padding: 0;
  overflow: visible;
  min-width: 100%;
}
.mejs__controls .mejs__time span {
  font-size: 15px;
}
.mejs__controls span.mejs__duration {
  float: right;
  text-align: right;
  color: #ccc;
}
.mejs__controls span.mejs__currenttime {
  font-weight: 700;
  float: left;
}
.mejs__controls .mejs__time-rail {
  width: 100%;
  margin: 0;
}
.mejs__controls .mejs__time-rail span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  border-radius: 50px;
  cursor: pointer;
}
.mejs__controls .mejs__time-rail .mejs__time-loaded {
  background: rgba(255,255,255,0.2);
}
.mejs__controls .mejs__time-rail .mejs__time-float {
  display: none;
  top: -40px;
  width: 40px;
  height: 25px;
  margin-left: 0px;
  text-align: center;
  font-size: 10px;
  background: #fff;
  border: 0;
}
.mejs__controls .mejs__time-rail .mejs__time-float-current {
  display: block;
  position: relative;
  top: 0;
  margin: 0;
  line-height: 26px;
  color: #100d28;
}
.mejs__controls .mejs__time-rail .mejs__time-float-corner {
  top: auto;
  bottom: -9px;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 6px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.mejs__controls .mejs__time-rail .mejs__time-current {
  background: rgba(0,126,152,1) none repeat scroll 0 0;
}
.mejs__controls .mejs__time-handle {
  display: none;
}
.mejs__controls .mejs__volume-button {
  position: relative;
  position: absolute !important;
  top: 70px;
  right: 25%;
  width: 40px;
  height: 40px;
}
.mejs__controls .mejs__horizontal-volume-slider {
  display: block;
  position: absolute !important;
  position: relative;
  top: 70px;
  right: 10%;
  width: 60px;
  height: 4px;
  margin-top: 18px;
  border-radius: 50px;
  line-height: 11px;
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-total,
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.1);
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
  background: #fff;
}