header {
  width: 100%;
  padding: 0;
  background: radial-gradient(31.25rem 3.125rem ellipse at 50% 0%, rgba(200,205,215,0.9), rgba(20,25,35,0.9));
  border-bottom: 1px solid #e1e1e1;
  z-index: 9999;
  top: 0;
  position: fixed;
  box-shadow: 0px 4px 6px #222;
}

header h1 {
  text-align: center;
  font-size: 3.75rem;
  color: #fff;
  font-family: 'Do Hyeon', sans-serif;
  font-weight: 400;
  transition: all 0.3s;
  margin-bottom: 0;
}

header h1 a {
  text-decoration: none;
  color: inherit;
}

header h1 a:hover {
  color: #ccc;
}

header h1 a:active  {
  color: #999;
}

header h3 {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  font-family: 'Knewave', sans-serif;
  font-weight: 300;
  transition: all 0.3s;
  margin-top: 0;
  text-shadow:
       2px 2px 0 Black,
     -1px -1px 0 Black,  
      1px -1px 0 Black,
      -1px 1px 0 Black,
       1px 1px 0 Black,
       3px 3px 0 Cyan,
       4px 4px 4px Blue;
}

.shrink h1 {
  font-size: 2rem;
  margin-top: 0;
}

.shrink h3 {
  font-size: 0;
}

.container {
  padding-top: 12.5rem;
}