@keyframes rising-fadein {
  from {
    opacity: 0;
    transform: translate(0, 0.5em); }
  to {
    opacity: 1; }
}

@keyframes falling-fadein {
  0%, 50% {
    opacity: 0;
    transform: translate(0, -0.5em); }
  100% {
    opacity: 1; }
}

.hidden {
  display: none;
}

body,
html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(12, 10, 40); }
  
@media (max-width: 992px) {
  body {
    font-size: 0.9rem; }
  .modal-content {
    line-height: 1.8; }}

.btn-xl {
  padding: 1.25rem 2rem; }

.content-section {
  padding-top: 7.5rem;
  /*padding-bottom: 7.5rem;*/
  color: #daddec;
  background: radial-gradient(rgba(90, 80, 128, 1) 0%, rgba(90, 80, 128, 0) 65%)/*, url("../img/abstract-2.svg")*/;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%; }

.content-section-heading h2 {
  font-size: 3rem; }

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase; }

h1 {
  font-family: 'Spartan', sans-serif;
  font-weight: 500; }
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

/* Map */
.map {
  height: 30rem; }

@media (max-width: 992px) {
  .map {
    height: 75%; } }

.map iframe {
  pointer-events: none; }

.scroll-to-top {
  position: fixed;
  right: 16px;
  bottom: 16px;
  display: none;
  width: 32px;
  height: 32px;
  text-align: center;
  color: rgba(52, 58, 64, 1);
  background: rgba(255, 255, 255, 0.3);
  line-height: 32px; }
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: rgba(52, 58, 64, 1); }
  .scroll-to-top:hover {
    background: rgba(255, 255, 255, 0.6); }
  .scroll-to-top i {
    font-weight: 800; }

.section-transition {
  display: block;
  width: 100%;
  position: absolute; }
  .section-transition.top {
    top: 0; }
  .section-transition.bottom {
    bottom: 0; }
    
.masthead {
  /*min-height: 30rem;*/
  color: #daddec;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: linear-gradient(180deg, rgba(0, 3, 5, 1) 0%, rgba(0, 3, 5, 1) 50%, rgba(0, 3, 5, 0) 100%)/*, url("../img/abstract.svg")*/;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .masthead .btn-primary.animate {
    animation: falling-fadein 1.5s; }
  .masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0; }
  .masthead h2 {
    font-family: 'Spartan', sans-serif; }
  .masthead h1.animate, .masthead h2.animate, .masthead h3.animate {
    animation: rising-fadein 1.75s; }
  @media (min-width: 992px) {
    .masthead {
      height: 100vh; }
      /*.masthead h1 {
        font-size: 5rem; }*/ }
        
/* Side Menu */
#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: #1D809F;
  border-left: 1px solid rgba(255, 255, 255, 0.1); }

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px; }

.sidebar-nav > .sidebar-brand a {
  color: #fff; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  transition: all 0.4s ease 0s; }

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999; }
  .menu-toggle:focus, .menu-toggle:hover {
    color: #fff; }
  .menu-toggle:hover {
    background: #343a40; }

.service-icon {
  background-color: #fff;
  color: #1D809F;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1); }

.callout {
  padding: 15rem 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-callout.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .callout h2 {
    font-size: 3.5rem;
    font-weight: 700;
    display: block;
    max-width: 30rem; }
    
.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
  cursor: pointer; }
  .portfolio-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1; }
    .portfolio-item .caption .caption-content {
      color: #fbfbf0;
      margin: auto 2rem 2rem; }
      .portfolio-item .caption .caption-content h2 {
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase; }
      .portfolio-item .caption .caption-content p {
        font-weight: 300;
        font-size: 1.2rem; }
  @media (min-width: 992px) {
    .portfolio-item {
      max-width: none;
      margin: 0; }
      .portfolio-item .caption {
        transition: clip-path 0.25s cubic-bezier(0.34, 1.56, 0.64, 1), background-color 0.4s;
        clip-path: inset(-0.05rem); }
        .portfolio-item .caption .caption-content {
          transition: opacity 0.25s;
          margin-left: 5rem;
          margin-right: 5rem;
          margin-bottom: 5rem; }
      .portfolio-item img {
        transition: clip-path 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
        clip-path: inset(0rem); }
      .portfolio-item:hover img {
        clip-path: inset(1rem); }
      .portfolio-item:hover .caption {
        background-color: rgba(255, 255, 255, 0.2);
        clip-path: inset(0.9rem); } }

footer.footer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }
  footer.footer .social-link {
    display: block;
    color: #daddec;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    background-color: #3c2878;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1); }
    footer.footer .social-link:hover {
      background-color: #302060;
      text-decoration: none; }

.btn-primary {
  width: 10rem;
  font-weight: 700;
  text-transform: uppercase;
  border-width: 2px;
  background-color: rgba(51,38,102,0.2);
  border-color: #c3bdd0 !important;
  color: #daddec !important; }
  .btn-primary:hover, .btn-primary:focus {
    box-shadow: 0 0 12px 2px #302060 inset;
    background-color: rgba(51,38,102,0) !important;
    border-color: #302060 !important; }
  .btn-primary:active {
    background-color: #302060 !important;
    border-color: #302060 !important; }

.btn-secondary {
  background-color: #3c2878 !important;
  border-color: #3c2878 !important;
  color: #daddec !important; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #302060 !important;
    border-color: #302060 !important; }

.btn-dark {
  color: #daddec !important; }

.btn {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer; }

.bg-primary {
  background-color: #1D809F !important; }

.text-primary {
  color: #1D809F !important; }

.text-secondary {
  color: #ecb807 !important; }
  
.carousel-inner > .carousel-item > * {
  margin: auto;
}

.text-muted {
  color: #cacacb !important;
}

.modal-content {
  background-color: rgb(240, 240, 240);
}

.youtube {
  max-width: 100%;
}