img {
  max-width: 100%;
}

body {
  font-family: sans-serif, emoji, "Twemoji Mozilla", "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji";
  font-weight: 400;
  color: rgba(0 0 0 / 0.8);
  background: #f4f3fb linear-gradient(to right, #f4f3fb 0%, #cde 100%);
}

.button {
  font-size: large;
  font-weight: 300;
  color: rgba(0 0 0 / 0.9);
  text-shadow: #fff 0 0 0.2em;
  background: linear-gradient(#ddf 30%, #baf 70%);
  border-radius: 1em;
  padding: 0.2em 0.4em;
  margin: 0.1em 0.2em;
  text-decoration: none;
  white-space: nowrap;
  line-height: 200%;
}

.highlight-box .button {
  background: rgba(255 255 255 / 0.5);
  outline: solid rgba(255 255 255 / 0.5);
}
.highlight-box .button:hover {
  background: rgba(255 255 255 / 0.6);
}
.highlight-box .button:active {
  box-shadow: inset 0 0 1em rgba(255 255 255 / 0.5);
}

ul {
  list-style-type: none;
  margin-top: -0.5em;
  margin-bottom: 1.5em;
  padding-inline-start: 1em;
}

li {
  margin-bottom: 0.4em;
}

a {
  color: rgba(0 0 192 / 0.9);
  text-decoration: none;
}
a:hover {
  color: rgba(0 96 255 / 0.9);
}
a:active {
  color: rgba(0 192 255 / 0.9);
}

.highlight-box {
  display: inline-block;
  vertical-align: bottom;
  padding: 0.5em 2em;
  margin: 1em;
  background: linear-gradient(#ddf, #98f);
  border: solid 0.25em rgba(0 0 0 / 0.5);
  border-radius: 3em;
  
  animation-duration: 0.425s;
  animation-timing-function: cubic-bezier(.5, 1.9, .6, .7);
}
@keyframes in {
  from {
    transform: translateY(10%) scale(1, 0.8);
  }
  to {
    transform: translateY(0) scale(1, 1);
  }
}

hr {
  border: solid 0.05em rgba(0 0 0 / 0.2);
  border-bottom: none;
  padding: 0.1em;
}

:not(hr.footer-hr) {
  border-left: none;
  border-right: none;
}

.footer {
  margin: 0 0.2em;
  font-size: small;
}
.footer .timestamp {
  text-align: right;
}
.footer ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.footer li {
  display: inline-block;
}

.game-display {
  object-fit: contain;
  transition: all 0.15s ease-out;
  border: solid;
  border-radius: 3em;
  width: 315px;
}
a .game-display:hover {
  filter: contrast(125%);
}

.coming-soon {
  filter: grayscale(100%) brightness(0.75) blur(2px);
}

.coming-later {
  filter: grayscale(100%) brightness(0.5) blur(8px);
}