a:hover {
  text-decoration: underline;
}

.collage {
  padding: 1em 0;
  text-align: center;
}

.collage img, .collage video {
  border-radius: 4px;
  box-shadow: 0 0 8px;
  max-width: min(calc(100% - 8px), 2992px);
  max-height: min(90vh, 2992px);
  vertical-align: middle;
  margin: 6px 4px;
}

.content {
  padding: 0.5em;
}

.toc {
  display: inline-block;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.075);
  padding: 0.5em 1em;
}

.back-button {
  font-weight: 800;
}

img.greece {
  display: block;
  width: 25em;
  border: 0.375em solid #6f898b;
  border-radius: 0;
  margin: auto;
}

@media (min-width: 800px) {
img.greece:active {
  width: 100%;
  object-fit: contain;
  transition: width 0.5s ease;
}
}

.caption-pic {
  display: inline-block;
  vertical-align: middle;
  padding: 1em;
  margin: 0.5em;
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 1em;
}

.text {
  margin: auto;
  max-width: 800px;
}
